<div class="container">
  <div class="card">
    <h1>Login</h1>
    <div class="socials">
      <p>Login with:</p>
    </div>

    <div class="row">
      <div class="col">
        <input type="text" id="email" placeholder="Email or username" />
      </div>
      <div class="col">
        <input type="password" id="password" placeholder="Password" />
        <div class="col reset">
          <input type="checkbox" checked />
          <p>Remember Me</p>
          <a href="">Forgot password</a>
        </div>

        <button class="btn">LOGIN</button>

        <p>Not a member? <a href="">Register</a></p>
      </div>
    </div>
  </div>
</div>
ss
